<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734283547733-a347tcmd18fv5jf1pujbccnjnop6gpdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734283547733-a347tcmd18fv5jf1pujbccnjnop6gpdu</string>
	<key>API_KEY</key>
	<string>AIzaSyBV4UwA2GdxJ3pyTTD_Hel48UPvR4I6XU0</string>
	<key>GCM_SENDER_ID</key>
	<string>734283547733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobportal</string>
	<key>PROJECT_ID</key>
	<string>hackathonpec-2022-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathonpec-2022-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734283547733:ios:10f455f10fe06740ee80dc</string>
</dict>
</plist>